/* GLOBAL */

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

h1 {
  text-align: center;
}

/* NavComponent */

.navbar {
  margin: 0;
  width: 100%;
}

.navbar-brand {
  font-size: 35px;
}

.nav-item {
  text-align: right;
}

.nav-item a {
  font-size: 20px;
  color: rgb(72, 72, 72);
  cursor: pointer;
  box-sizing: border-box;
}

.nav-item a:hover {
  border: 2px;
}

/* JUMBO COMPONENT */

.jumbotron .img {
  margin-bottom: 0px;
  opacity: 0.3;
  color: #fff;
  background: #000 url("https://4.bp.blogspot.com/-gk22wmKM5Iw/WMP5NFAKKFI/AAAAAAABksw/gukMn0LhprYk3AZQCA4F23e1xBFu9ZPBgCEw/s1600/%25E5%25A6%2582%25E4%25BD%2595%25E5%2581%259A%25E4%25B8%2580%25E5%2580%258B%25E8%25B3%2587%25E6%25BA%2590%25E6%2595%25B4%25E5%2590%2588%25E7%259A%2584%25E9%25AB%2598%25E6%2589%258B_2.png") center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.jumbotron h2 {
  text-align: center;
}

.jumbotron h1 {
  font-size: 50px;
}

.jumbotron {
  position: relative;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 0px;
}

.jumbotron .container {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Card COMPONENT */

.btn-block {
  background-color: #FFDAB9;
  color: black;
}


.card-columns {
  margin: 10px;
}

.card-text {
  min-height: 7rem;
}

p {
  margin-top: .5rem;
  margin-bottom: 0px;
}

img#snack_image {
  margin: 1rem;
  height: 20rem;
}

img#card_img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/* HOME COMPONENT */


#what {
  /* text-align: center; */
  min-height: 60vh;
}

#what .row {
  justify-content: center;
}

.circle {
  text-align: center;
  font-size: 50px;
  padding-top: 30%;
  background-color: #FFDAB9;
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

#featured-products {
  padding: 2rem;
  min-height: 60vh;
}

.media-body {
  padding: 2rem;
}

.col {
flex-grow: 0;
}

/* Snack COMPONENT */

#perishable {
  font-style: italic;
}

.text-right {
  margin: .5rem;
  margin-bottom: 0;
}

/* FORM COMPONENT */

.form-check {
  margin-bottom: 5px;
}

#form {
  margin: 3rem
}

/* Review COMPONENT */

#reviews {
  margin-top:0px;
  margin-bottom: 2rem;
}

#review-block {
  background-color: white;
  border: 2px solid lightgray;
  padding: 15px;
  border-radius: 3px;
}

#review-block-rate {
  font-size: 13px;
  margin-bottom: 15px;
}

#review-title {
  font-size: 25px;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 10px;
}

/* FOOTER COMPONENT */

.footer {
  border-top: solid gray 2px;
  color: black;
  height: 33vh;
}

.footer .img {
  opacity: 0.3;
  color: #fff;
  background: #000 url("https://4.bp.blogspot.com/-gk22wmKM5Iw/WMP5NFAKKFI/AAAAAAABksw/gukMn0LhprYk3AZQCA4F23e1xBFu9ZPBgCEw/s1600/%25E5%25A6%2582%25E4%25BD%2595%25E5%2581%259A%25E4%25B8%2580%25E5%2580%258B%25E8%25B3%2587%25E6%25BA%2590%25E6%2595%25B4%25E5%2590%2588%25E7%259A%2584%25E9%25AB%2598%25E6%2589%258B_2.png") center;
  width: 100%;
  height: 33vh;
  position: absolute;
}
